elpaca/*
tramp
tree-sitter/*
url/*
parinfer-rust/*
.*\~
elpa/*
auto-save-list/*
.local/*
eln-cache/*
/.lsp-session-v1
/var/
/backups/
/emojis/
/history/
recentf
/tldr/
/transient/
history
/eshell/history
/eshell/lastdir
/backup/
